@import "tailwindcss";

@layer components {
  .btn-bvm {
    background-color: #FFE7C3;
    color: #512D26;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  .btn-bvm:hover {
    background-color: #3a0a0a !important;
    color: #facc15 !important;
    border-color: rgba(250, 204, 21, 0.6) !important;
  }
}